body {
width: 3000px;
height: 5000px;

} 

h1{
    text-align: center;
    width: 600px;
    height: 50px;
    vertical-align: middle;
       
}



body form {
    padding: 30px;
    width: 630px;
    background-color:gray;
    border-radius: 5px;
    border-color: black;
    border-style: solid;  
}

body form div {
    width: 150px;
    height: 40px;
    display: inline-block;
    border-style: unset;
    padding: 10px;
}